*{
    padding: 0px;
}
nav{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.logo{
    font-size: 40px;
}
.hamburger_menu{
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 0px;
}
.hero_image_container{
    width: 150px;
    height: 150px;
}
.hero_section{
    padding: 0;
    background-position: top center;
}

.hero_section p{
    padding: 0 20px;
}
.hero_section h1{
    font-size: 48px;
}
.hero_buttons{
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
}

/*---ABOUT SECTION STYLES---*/
.card_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}




