*{
    padding: 0px;
}
nav{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.logo{
    font-size: 40px;
}
.hamburger_menu{
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 0px;
}
.hero_image_container{
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.hero_section{
    padding: 50px 0;
    background-position: top 50px center;
}

.hero_section p{
    padding: 0 20px;
}
.hero_section h1{
    font-size: 48px;
}
.hero_buttons{
    gap: 7px;
    padding: 0 10px;
}
.hero_buttons a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    padding: 10px;
    gap: 5px;
}




/*---ABOUT SECTION STYLES---*/
.card_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}



/*---WHY CHOOSE SECTION STYLES---*/

.why_choose_points{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
}


/*--------HOST SECTION STYLES-------*/

.host_content{
    padding: 10px;
    flex-direction: column;
    gap: 20px;
}

.host_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.host_section h2{
    font-size: 32px;
}

.host_content p{
    text-align: center;
}
/*--------FOOTER---------*/
.logo_footer{
    font-size: 32px;
}
footer{
    background-size: cover;
    padding: 20px 8px;
}

.footer_social{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 20px;
}

