/*-----Imported GOOGLE FONTS---------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*---SHARED STYLES---*/
html, body{
    font-family: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #1A0B2E;
    font-size: 18px;
    border: 1px solid #d51c1c;
}  

.container{
    max-width: 1200px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}

/*---NAVIGATION STYLES---*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    margin: 0 auto;
}
.logo{
    font-size: 60px;
    color: #fff;
    font-weight: 900;
}
.wave{
    background-image: linear-gradient(to left bottom,#9100F8,#FB09B4 ,#F7E93F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav .menu{
    display: flex;
}
nav .menu a{
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
    padding: 10px 30px;
}
.hamburger_menu{
    display: none;
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 20px;
}
nav .menu a:hover{
    background-color: #fff;
    color: #412567;
    border-radius: 5px;
}
.cta_btn{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(to left bottom,#9100F8,#FB09B4 ,#F7E93F);
    padding: 10px 20px;
    border-radius: 30px;
}

.cta_btn:hover{
    background-color: #fff;
    color: #333;
}
.cta_btn_2{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #00FF88;
    border: 2px solid #00FF88;
    padding: 10px 20px;
    border-radius: 30px;
}



/*---HERO SECTION STYLES---*/
.hero_section{
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    text-align: center;
    padding: 120px 150px;
    border-top: 1px solid #412567;
}
.hero_content{
    text-align: center;
    margin: 0 auto;
}
.hero_image_container{
    background: url(../images/hero-circle.png) no-repeat center center /contain;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin: 0 auto 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_image_container img{
    width: 30%;
}
.hero_section h1{
    font-size: 60px;
    color: #fff;
    font-weight: 900;
}
.hero_section p{
    font-size: 16px;
    color: #d2d1d1;
    margin-bottom: 30px;
}
.hero_buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.hero_buttons a{
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    text-decoration: none;
}
.hero_buttons a p{
    margin: 0;
    color: #00FF88;
}
/*---ABOUT SECTION STYLES---*/

.about_section{
    color: #f9f6f6;
    text-align: center;
    margin: 100px auto;
}
.about_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px  0 20px;
}
.about_content h2{
    font-size: 48px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.about_content p{
    font-size: 16px;
    color: #cdcdcd;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
}
.card_container{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding: 50px 0;
    border-top: 1px solid #412567;
}
.card{
    text-align: center;
}
.card h2{
    font-size: 48px;
    color: #00FF88;
    margin-bottom: 10px;
}


/*---WHY CHOOSE SECTION STYLES---*/
.why_choose_section{
    background-color: #250E40;
    padding: 50px 0;
    text-align: center;
    color: #f9f6f6;
}

.why_choose_section h2{
    margin-top: 30px;
}
.why_choose_content{
    margin: 0 auto;
    padding: 0 20px 50px 20px;
}

.why_choose_points h2{
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: 800;
}
.why_choose_points{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px;
    margin-top: 50px;
}
.point{
    background-color: #2A0F4D;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: left;
}
.point img{
    width: 50px;
    margin-bottom: 15px;
    margin: 30px 0px;
}

.point4 img{
    width: 80px;
}

.point h3{
    font-size: 24px;
    margin-bottom: 15px;
    color: #ffffff;
}
.point p{
    font-size: 16px;
    line-height: 1.5;
    color: #AA9FB8;
}
.point1{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
.point2{
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}
.point3{
    grid-column: 2 / 4;
    grid-row: 2 / 3 ;
}
.point4{
    grid-column: 1 / 3;
    grid-row: 3 / 4 ;
}
.point5{
    grid-column: 3 / 4;
    grid-row: 3 / 4 ;
}

/*--------EPISODES SECTION STYLE-------*/
.episode_section{
    padding: 80px 10px;
}
.episode_section h2{
    padding-bottom: 50px;
    text-align: center;
    font-size: 48px;
    color: #fff;
}

.videos_container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.video_card{
    text-align: left;
    background-color: #250D44;
    border-radius: 10px;
    max-width: 420px;
}
.video_card iframe{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    height: auto;
}
.video_info{
    padding: 20px;
}
.video_info h2{
    font-size: 24px;
    text-align: left;
    padding: 0;
}
.video_info p{
    color: #AA9FB8;
    margin: 15px 0;
    font-size: 16px;
}
.duration{
    display: flex;
    justify-content: left;
    gap: 10px;
    align-items: center;
}
.video_info img{
    margin-right: 10px;
}



/*--------HOST SECTION STYLES-------*/
.host_section{
padding: 50px 10px;
}

.host_section h2{
    padding:30px;
    text-align: center;
    color: #fff;
    font-size: 48px;
}
.host_content{
    padding: 20px;
    display: flex;
    justify-content: left;
    gap: 30px;
    align-items: center;
    background-color: #250D44;
    border-radius: 8px;
}
.host_content h3{
    color: #fff;
}

.host_content p{
    color: #AA9FB8;
    font-size: 16px;
    margin: 15px 0;
}

.host_social{
    display: flex;
    justify-content: left;
    gap: 5px;
    align-items: center;
}

.host_social a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #8d53d0;
    border-radius: 50%;
    text-decoration: none;
}








/*---FOOTER STYLES---*/
footer{
    background: url(../images/footer-bg.png);
    text-align: center;
    padding: 50px 0;
    color: #666;
    font-size: 14px;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}
.footer_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.logo_footer{
    font-size: 60px;
    color: #fff;
    font-weight: 900;
}
.footer_social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.footer_social a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.footer_social a p{
    text-decoration: none;
    color: #A29DB2;
}
.footer_content p{
    color: #A29DB2;
}













































--- IGNORE ---