/*-----Imported GOOGLE FONTS---------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*---SHARED STYLES---*/
html, body{
    font-family: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #1A0B2E;
    font-size: 18px;
    border: 1px solid #d51c1c;
}  

.container{
    max-width: 1200px;
    margin: 0 auto 30px auto;
    border: 1px solid #ccc;
}
a{
    text-decoration: none;
}

/*---NAVIGATION STYLES---*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    margin: 0 auto;
}
.logo{
    font-size: 60px;
    color: #fff;
    font-weight: 900;
}
#Wave{
    background-image: linear-gradient(to left bottom,#9100F8,#FB09B4 ,#F7E93F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav .menu{
    display: flex;
}
nav .menu a{
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
    padding: 10px 30px;
}
.hamburger_menu{
    display: none;
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 20px;
}
nav .menu a:hover{
    background-color: #fff;
    color: #412567;
    border-radius: 5px;
}
.cta_btn{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(to left bottom,#9100F8,#FB09B4 ,#F7E93F);
    padding: 10px 20px;
    border-radius: 30px;
}

.cta_btn:hover{
    background-color: #fff;
    color: #333;
}
.cta_btn_2{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #00FF88;
    border: 2px solid #00FF88;
    padding: 10px 20px;
    border-radius: 30px;
}
hr{
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #412567;
}


/*---HERO SECTION STYLES---*/
.hero_section{
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    text-align: center;
    padding: 120px 150px;
}
.hero_content{
    text-align: center;
    margin: 0 auto;
}
.hero_image_container{
    background: url(../images/hero-circle.png) no-repeat center center /contain;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin: 0 auto 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_image_container img{
    width: 30%;
}
.hero_section h1{
    font-size: 60px;
    color: #fff;
    font-weight: 900;
}
.hero_section p{
    font-size: 16px;
    color: #d2d1d1;
    margin-bottom: 30px;
}
.hero_buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.hero_buttons a{
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    font-weight: 600;
    text-decoration: none;
}
.hero_buttons a p{
    margin: 0;
    color: #00FF88;
}
/*---ABOUT SECTION STYLES---*/

.about_section{
    color: #f9f6f6;
    text-align: center;
    margin: 100px auto;
}
.about_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px  0 20px;
}
.about_content h2{
    font-size: 48px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.about_content p{
    font-size: 16px;
    color: #cdcdcd;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
}
.card_container{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin: 50px auto;
}
.card{
    text-align: center;
}
.card h2{
    font-size: 48px;
    color: #00FF88;
    margin-bottom: 10px;
}


/*---FOOTER STYLES---*/
footer{
    text-align: center;
    padding: 20px 0;
    color: #666;
    font-size: 14px;
}













































--- IGNORE ---