nav{
    justify-content: space-around;
}



nav .menu{
    display: none;
}
.subscribe_button{
    display: none;
}
.hamburger_menu{
    display: flex;
}
.hero_section{
    padding: 0;
    background-position: top center;
}
.hero_content{
    padding: 20px 0 0 0;
}
.hero_image_container{
    width: 250px;
    height: 250px;
    background-position: top center;
    margin-top: 100px;
}


/*---ABOUT SECTION STYLES---*/

.about_section{
    margin: 50px auto;
}
.about_content{
    max-width: 600px;
    margin: 0 auto;
    padding: 30px 10px  0 10px;
}
.about_content h2{
    font-size: 36px;
}
.card_container{
    gap: 15px;
}
.card h2{
    font-size: 36px;
}
