nav{
    justify-content: space-around;
}



nav .menu{
    display: none;
}
.subscribe_button{
    display: none;
}
.hamburger_menu{
    display: flex;
}
.hero_section{
    padding: 0;
}
.hero_content{
    padding: 20px 0 0 0;
}
.hero_image_container{
    width: 250px;
    height: 250px;
    background-position: top center;
    margin-top: 100px;
}


/*---ABOUT SECTION STYLES---*/

.about_section{
    margin: 50px auto;
}
.about_content{
    max-width: 600px;
    margin: 0 auto;
    padding: 30px 10px  0 10px;
}
.about_content h2{
    font-size: 36px;
}
.card_container{
    gap: 15px;
}
.card h2{
    font-size: 36px;
}


/*---WHY CHOOSE SECTION STYLES---*/
.why_choose_section{
    padding: 10px;
}

.why_choose_points{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    margin-top: 50px;
}

.point1{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
.point2{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.point3{
    grid-column: 2 / 3;
    grid-row: 2 / 3 ;
}
.point4{
    grid-column: 1 / 2;
    grid-row: 3 / 4 ;
}
.point5{
    grid-column: 2 / 3;
    grid-row: 3 / 4 ;
}

/*------------EPISODE SECTION STYLE-------*/

.episode_section{
    padding: 30px 10px;
}

.episode_section h2{
    padding-bottom: 30px;
    font-size: 32px;
}

.videos_container{
    justify-content: space-around;
    flex-wrap: wrap;
}


/*--------HOST SECTION STYLES-------*/
.host_section h2{
    font-size: 40px;
}
